.tm-bg-color-primary {
    background-color: #76cdd8;
}

.tm-quote:hover {
    color: #76cdd8;
}

.tm-col-md-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.tm-text-color-primary.mb-4 {
    color: #76cdd8;
}

.btn.btn-primary {
    background-color: #269999;
    border: #269999;
}

.btn.btn-primary:hover {
    background-color: rgb(118, 205, 216)
}

section:nth-child(1) div:nth-child(1) div:nth-child(2) {
    position: relative;
}

section:nth-child(1) div:nth-child(1) div:nth-child(2):hover {
    color: #76cdd8;
}

section:nth-child(1) div:nth-child(2) div:nth-child(1):hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #76cdd8;
}

section:nth-child(2)  div:nth-child(2) div:nth-child(1):hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent #76cdd8;
}

section:nth-child(3) div:nth-child(2) div:nth-child(1):hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 470px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #76cdd8;
}

.img-fluid:hover {
    transition: .5s;
    transform: scale(1.1);
}

.row.tm-section.tm-mb-30 {
    margin-bottom: 30px;

}

.tm-pricing-header {
    background: #269999;

}

.tm-pricing-table {
    border-color: #269999;
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;

}

.btn.btn-secondary {
    background: #269999;
    border-color: #269999;
}

.btn.btn-secondary:hover {
    background: #24d4d4;
}

section:nth-child(5)  div:nth-child(3) .tm-pricing-table:hover{
    box-shadow: 0 0 0 0.2rem #24d4d4;
    height: 102%;
    transition: .2s;
}

section:nth-child(5)  div:nth-child(3) .tm-pricing-table:hover::after{
    content: "*";
    position: absolute;
    bottom: 15px;
    left: 90px;
    font-size: 18px;
    text-transform: none;
    color: red;
    z-index: 1;
}

section:nth-child(5)  div:nth-child(3) .tm-pricing-table:hover::before{
    content: "Special discount";
    position: absolute;
    bottom: 15px;
    left: 105px;
    font-size: 18px;
    text-transform: none;
    color: #24d4d4;
    z-index: 1;
}

.col-lg-12.tm-form-header.pl-5.pr-5 {
    background: #24d4d4;
}

.col-lg-12.tm-bg-color-secondary.tm-text-color-white.tm-font-thin.tm-form-footer {
    background: #269999;

}

section:nth-child(6) {
    position: relative;
}

section:nth-child(6):before{
    cursor: pointer;
    position: absolute;
    content: '↻';
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    transform: scale(1, -1) rotate(60deg);
    width: 30px;
    height: 30px;
    background-color: #2bcd8d;
    color: white;
    z-index: 15;
    top: 400px;
    right: 245px;
}
section:nth-child(6):after{
    cursor: pointer;
    position: absolute;
    content: '!';
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
    border: solid white;
    width: 20px;
    height: 20px;
    background-color: #cdae41;
    color: white;
    z-index: 15;
    top: 400px;
    right: 235px;
}